/**
 * This file is primarily for CSS resets
 */
body, 
html, 
#app {
  width: 100%;
  height: 100%;
  background-color: $GRAY_LIGHT;
}

.stretch {
  width: 100%;
  height: 100%;
}

.hero-text {
  font-size: 42px;
  display: block;
}

#gl-init {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li {
  font-family: $FONT_FAMILY;
}

a,
p,
li {
  font-weight: 300;
  letter-spacing: 1px;
}

.vcenter-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
