@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

// Constant colors
$WHITE: #FFFFFF;

$GRAY_LIGHT: #EEEEEE;

$GRAY_MED: #CCCCCC;

$GRAY_DARK: #888888;

$FONT_FAMILY: 'Source Sans Pro', sans-serif;
